<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>Spick Input</string>
  <key>CFBundleExecutable</key>
  <string>SpickInput</string>
  <key>CFBundleIdentifier</key>
  <string>app.spick.desktop.input-method</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Spick Input</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>InputMethodConnectionName</key>
  <string>app.spick.input-method.connection</string>
  <key>InputMethodServerControllerClass</key>
  <string>SpickInputController</string>
  <key>InputMethodType</key>
  <string>palette</string>
  <key>SpickInputInspectionProtocol</key>
  <integer>1</integer>
  <key>SpickPeerAuthenticationMode</key>
  <string>secure</string>
  <key>LSMinimumSystemVersion</key>
  <string>13.0</string>
  <key>LSUIElement</key>
  <true/>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>NSSupportsSuddenTermination</key>
  <true/>
  <key>TISInputSourceID</key>
  <string>app.spick.desktop.input-method</string>
  <key>tsInputMethodIconFileKey</key>
  <string>SpickInput.icns</string>
</dict>
</plist>
